DJANGO_SECRET_KEY=your-django-secret-key
DJANGO_DEBUG=True

DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DB_NAME

DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_app_password
DEFAULT_FROM_EMAIL=your_email@example.com

BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

JWT_ACCESS_MINUTES=60
